<template>
  <div class="mt-6 flex flex-col items-center space-y-4">
    <header class="flex items-center mb-3 whitespace-nowrap">
      <h2 class="font-medium text-gray-900 truncate">
        {{ title }}
      </h2>
    </header>
    <div class="flex flex-col items-center">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-50 sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w- divide-y divide-gray-200">
              <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Description
                </th>
                <th scope="col" colspan="2" class="relative px-3 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <span class="sr-only">Delete</span>
                  Actions
                </th>
              </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in list" :class="index % 2 === 0 ? 'bg-white' : 'bg-gray-50'">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{ item.title }}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{ item.description }}
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <a href="#" @click="updateItem(item, index)" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <a href="#" @click="deleteItem(item, index)" class="text-indigo-600 hover:text-indigo-900">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <form class="space-y-6 w-80" @submit.prevent='submitForm' action="#" method="POST">
            <div>
              <label for="title" class="block text-sm font-medium text-gray-700">
                Title
              </label>
              <div class="mt-1 relative rounded-md shadow-sm">
                <input v-model="form.title" id="title" name="title" type="text" autocomplete="title" required="" :class="{'border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500': errors.title}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                <div v-if="errors.title" class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <ExclamationCircleIcon class="h-5 w-5 text-red-500" aria-hidden="true" />
                </div>
              </div>
              <p class="mt-2 text-sm text-red-600" id="email-error-title">{{ errors.title }}</p>
            </div>

            <div>
              <label for="description" class="block text-sm font-medium text-gray-700">
                Description
              </label>
              <div class="mt-1 relative rounded-md shadow-sm">
                <input v-model="form.description" id="description" name="description" type="text" autocomplete="description" required="" :class="{'border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500': errors.description}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                <div v-if="errors.description" class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <ExclamationCircleIcon class="h-5 w-5 text-red-500" aria-hidden="true" />
                </div>
              </div>
              <p class="mt-2 text-sm text-red-600" id="email-error-description">{{ errors.description }}</p>
            </div>

            <div>
              <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                {{ form.action }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div>
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <form class="space-y-6 w-80" @submit.prevent='submitToBackend' action="#" method="POST">
            <div>
              <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Submit to backend
              </button>
            </div>
          </form>
          <p class="mt-2 text-sm text-center text-green-600" id="notification-message">{{ notification.message }}</p>
          <p class="mt-2 text-sm text-center text-red-600" id="backend-errors" v-for="error in errors.backend">{{ error }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { defineProps, reactive } from 'vue'
import { ExclamationCircleIcon } from '@heroicons/vue/solid'
import axios from 'axios'
import { forEach } from 'lodash-es'

const instance = axios.create({
  baseURL: 'http://todo.lendflow.local/api',
  withCredentials: false,
  headers: {
    Accept: 'application/json',
    'Content-Type': 'application/json',
  },

})

defineProps({
  title: String
})

let listInStorage = localStorage.getItem('list') != null ? JSON.parse(localStorage.getItem('list')) : []

let list = reactive(listInStorage)

let errors = reactive({
  title: '',
  description: '',
  backend: []
})

let notification = reactive({
  message: ''
})

let form = reactive({
  action: 'Add',
  index: 0,
  id: 0,
  title: '',
  description: ''
})

const submitForm = async () => {
  resetErrors()

  if(failedValidation()) {
    return
  }

  if (form.action === 'Add') {

    list.push({ title: form.title, description: form.description })

  } else if (form.action === 'Update') {

    list[form.index] = { title: form.title, description: form.description }
  }

  localStorage.setItem('list', JSON.stringify(list))

  resetForm()
}

const submitToBackend = async () => {

  try {
    const { data : { data } } = await instance.patch(`/lists`, list)

    showNotification('List has been synced to backend')

  } catch (e) {
    forEach(e.response.data.errors, (error, i) => {

      let errorMessage = error[0]
      let index = errorMessage.indexOf("title") !== -1 ? errorMessage.indexOf("title") : errorMessage.indexOf("description")
      let periodIndex = errorMessage.indexOf(" ")

      if (index !== -1) {
        const itemNumber = parseInt(errorMessage.slice(periodIndex+1, index-1)) + 1
        errorMessage = 'Item# ' + (itemNumber) + ': ' + errorMessage.slice(index)
        errors.backend.push(errorMessage)
      }
    })

    showBackendErrors()
  }

}

const updateItem = (item, idx) => {
  resetErrors()

  form.title = item.title
  form.description = item.description
  form.id = item.id
  form.index = idx

  form.action = 'Update'
}

const deleteItem = async (item, idx) => {
  resetErrors()

  // try {
  //   const { data } = await instance.delete(`/items/${item.id}`)
  // } catch (e) {
  //
  // }

  list.splice(idx, 1)

  localStorage.setItem('list', JSON.stringify(list))

  resetForm()
}

const failedValidation = () => {
  let hasError = false

  if (form.title.length < 5) {
    errors.title = 'Title must be at least 5 characters.'
    hasError = true
  }

  if (form.description.length < 5) {
    errors.description = 'Description must be at least 5 characters.'

    hasError = true
  }

  return hasError
}

const resetErrors = () => {
  errors.title = ''
  errors.description = ''
  errors.backend = []
}

const resetForm = () => {
  form.title = ''
  form.description = ''
  form.action = 'Add'
  form.index = 0

  notification.message = ''
  errors.backend = []
}

const showNotification = (message) => {
  notification.message = message
}
</script>

<style scoped></style>
